##                     ##
# Global Configurations #
##                     ##
CONTAINER_NAME=mc-panel.app
CONTAINER_PORT=8080
IP=0.0.0.0
SHELL_USER=
SHELL_PWD=
#~$ id -u [user]
SHELL_USER_ID=
#~$ id -g [user]
SHELL_GROUP_ID=

##                     ##
# NodeJS Configurations #
##                     ##
NODE_NAME=mc-panel.node
SOCKETIO_PORT=8000
NODE_ENV=production

##                    ##
# MySql Configurations #
##                    ##
MYSQL_HOST=mc-panel.mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mcdb
MYSQL_USER=
MYSQL_PASSWORD=
PREFIX=mcp_

##                       ##
# Development Environment #
##                       ##
ENV_DEV=false
