<div class="modal fade" id="eula" tabindex="-1" role="dialog" aria-labelledby="eulaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eulaLabel">Choisisez votre version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                En cliquant sur "accepter" vous acceptez la EULA de mojang (contrat de licence utilisateur final)
                En savoir plus ici: <a href="https://account.mojang.com/documents/minecraft_eula">https://account.mojang.com/documents/minecraft_eula</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="serverStart(true);">Accepter</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>