{% extends "layout/base.html.twig" %}

{% block content %}
    {% for errors in flash("alert") %}
        <div class="alert alert-danger alert-dismissible fade show m-0" role="alert">
            {{errors}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% set arr = flash("warning") %}
    {% if arr is not empty %}
        <div class="alert alert-warning alert-dismissible fade show m-0">
            {% for errors in arr %}
                {{errors}}<br/>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row m-md-4">
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="playersTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ops_tab" data-toggle="tab" href="#ops" role="tab">Opérateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whitelist_tab" data-toggle="tab" href="#whitelist" role="tab">Whitelist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="banned-players_tab" data-toggle="tab" href="#banned-players" role="tab">Ban</a>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active mt-md-3" id="ops" role="tabpanel">
                    {% include "Includes/Players/Operator.html.twig" %}
                </div>
                <div class="tab-pane fade mt-md-3" id="whitelist" role="tabpanel">
                    {% include "Includes/Players/WhiteList.html.twig" %}
                </div>
                <div class="tab-pane fade mt-md-3" id="banned-players" role="tabpanel">
                    {% include "Includes/Players/Ban.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="token" value="{{ csrf_token() }}">
{% endblock %}

{% block javascripts %}
    <script src="assets/js/players.js"></script>
    {#
        If tab is defined then when the ducument is ready
        show the tab where the client before sending the form 
    #}
    {% if tab is defined %}
        <script>
            $(document).ready(function () {
                $('#playersTabs a[href="# {{ tab }}"]').tab('show');
            });
        </script>
    {% endif %}
{% endblock %}
